@import "tailwindcss";

@theme {
  --color-primary: #6366F1;
  --color-secondary: #8B5CF6;
  --color-accent: #06B6D4;

  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}